<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--pattern>%d{yyyy.MM.dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}:%L) - %msg%n</pattern-->
            <pattern>%d{yyyy.MM.dd HH:mm:ss.SSS} %highlight(%-5level) [%blue(%logger:%L)] [%boldGreen(%thread)] %msg%n</pattern>
        </encoder>
        <withJansi>true</withJansi>
    </appender>
    
    <!-- File Appender -->
    <appender name="FILE-THREAD" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>logFileName</key>
            <defaultValue>${DEFAULT_LOG_FOLDER}/${LOG_FILE_NAME}</defaultValue>
        </discriminator>
        <sift>
            <appender name="${logFileName}" class="ch.qos.logback.core.FileAppender">
                <file>${logFileName}</file>
                <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                    <pattern>%d{yyyy.MM.dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%L - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>
    
     <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE-THREAD"/>
    </root>

    
</configuration>